@keyframes second {
  from {
    transform: scale(.1);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(60deg);
  }
}

@keyframes third {
    from {
      transform: scale(.1);
    }
    20% {
      transform: scale(1);
    }
    50% {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(90deg);
    }
}

@keyframes first {
    from {
      opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes done {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrapper {
    width: 100%;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.title {
    margin-bottom: 60px;
}

.image {
    margin-bottom: 60px;
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vektorSecond {
    position: absolute;
    animation: second 2s ease-in-out infinite;
}

.vektorThird {
    position: absolute;
    animation: third 2s ease-in-out infinite;
}

.vektorFirst {
    position: absolute;
    animation: first 2s ease-in-out infinite;
}

.done {
    opacity: 0;
    animation: done 2s linear infinite;
}

.details {
    color: #8585AD;
}
