.mainWrapper {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #2f2f37;
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #8585ad;
}
