.mainProfileWrapper {
    width: 100%;
}

.profileWrapper {
    display: flex;
    margin-top: 120px;
    position: relative;
    height: 400px;
}

.inputsWrapper {
    position: absolute;
    z-index: 1;
}

.wrapper {
    margin-top: 120px;
}

.logo {
    margin-bottom: 80px;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 24px;
}

.inputWrapper {
    margin-bottom: 24px;
}

.button {
    text-align: center;
    margin-bottom: 80px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerInfo {
    color: #8585ad;
}

.footerEnter {
    text-decoration: none;
    color: #4c4cff;
}

.linksWrapper {
    position: relative;
    z-index: 2;
    margin-right: 60px;
}

.buttonsWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}