.main {
    width: 720px;
    background-color: #1C1C21;
    top: 0;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.close {
    margin-top: 20px;
    height: 18px;
}

.close:hover {
    cursor: pointer;
}
