.wrapper {
    width: 580px;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    height: 240px;
}

.main {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.details {
    margin-bottom: 64px;
    text-align: center;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infoElement {
    color: #8585ad;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-bottom: 32px;
}