@media screen and (max-height: 480px) {
    .itemWrapper {
        height: 200px;
    }

    ::-webkit-scrollbar-track {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-height: 481px) {
    .itemWrapper {
        height: 650px;
    }

    ::-webkit-scrollbar-track {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.summWrapper {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.wrapper {
    padding: 100px 0 50px;
    width: 600px;
}

.itemWrapper {
    overflow: auto;
    margin-bottom: 40px;
}

.itemWrapper .ingredient:last-child {
    margin-bottom: 0;
}

.ingredient {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.summText {
    font-size: 48px;
    margin-right: 8px;
}

.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #2f2f37;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #8585ad;
}
